{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <title>Courses Management</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo.png' %}"/>
        <link rel="icon" href="{% static 'assets/img/logo.png' %}" type="image/png" sizes="16x16">
        <link rel='stylesheet' href='{% static "assets/vendor/pace/pace.css" %}'/>
        <script src='{% static "assets/vendor/pace/pace.min.js" %}'></script>
        <!--vendors-->
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css" %}'/>
        <link rel='stylesheet' href='{% static "assets/css/bundles/dcd1663bd4b40ee5b03564aeb0245515dd3277b0.css" %}'/>
        <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600" rel="stylesheet">
        <link rel='stylesheet' href='{% static "assets/fonts/jost/jost.css" %}'/>
        <!--Material Icons-->
        <link rel='stylesheet' type='text/css' href='{% static "assets/fonts/materialdesignicons/materialdesignicons.min.css" %}'/>
        <!--Bootstrap + atmos Admin CSS-->
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/atmos.min.css" %}'/>
        <!-- Additional library for page -->

</head>
<body class="jumbo-page">

<main class="admin-main  ">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12 position-absolute" style="z-index: 999;">
                <div class="row justify-content-center">
                    <div class="col-6">
                        {% for message in messages %}
                            <div class="alert alert-border-danger  alert-dismissible fade show" role="alert">
                                <div class="d-flex">
                                    <div class="icon">
                                        <i class="icon mdi mdi-alert-octagram"></i>
                                    </div>
                                    <div class="content">
                                        {{message}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4  bg-white">
                <div class="row align-items-center m-h-100">
                    <div class="mx-auto col-md-8">
                        <form class="needs-validation" action="" method="post">
                            {% csrf_token %}
                            <div class="p-b-5 text-center">
                                <p class="admin-brand-content">
                                    Theme shop
                                </p>
                            </div>

                            

                            <div class="form-row">
                                <div class="form-group floating-label col-md-12">
                                    <label>First Name</label>
                                    <input type="text" required class="form-control" placeholder="first name" name="fname">
                                </div>
                                <div class="form-group floating-label col-md-12">
                                    <label>Last Name</label>
                                    <input type="text" required class="form-control" placeholder="last name" name="lname">
                                </div>
                                <div class="form-group floating-label col-md-12">
                                    <label>Username</label>
                                    <input type="text" required class="form-control" placeholder="Username" name="username">
                                </div>
                                <div class="form-group floating-label col-md-12">
                                    <label>Email</label>
                                    <input type="email" required class="form-control" placeholder="Email" name="email">
                                </div>
                                <!-- <div class="form-group floating-label col-md-12">
                                    <label>Phone</label>
                                    <input type="tel" required class="form-control" placeholder="Phone" name="phone">
                                </div> -->
                                <!--    select inputs should have .show-label class by default-->
                                <!-- <div class="form-group floating-label show-label col-md-12">
                                    <select class="form-control" required>
                                        <option selected>Country</option>
                                        <option value="india">India</option>
                                        <option value="ghana">Ghana</option>
                                        <option value="us">United States</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div> -->
                                <!-- <div class="form-row">
                                    <div class="form-group floating-label col-md-6">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City" name="city">
                                    </div>
    
                                    <div class="form-group floating-label col-md-6">
                                        <label>Zip</label>
                                        <input type="text" class="form-control" placeholder="Zip" name="zip">
                                    </div>
                                </div> -->
                                <div class="form-group floating-label col-md-12">
                                    <label>Password</label>
                                    <input type="password" placeholder="Password" required class="form-control " id="password"
                                           name="password" >
                                </div>
                            </div>
                            <div class="form-group floating-label">
                                <label>Confirm Password </label>
                                <input type="password" class="form-control" required id="confirm_password"
                                       placeholder="confirm password" name="confirm_password">
                            </div>
                            <p class="">
                                <label class="cstm-switch">
                                    <input type="checkbox" name="policy" required class="cstm-switch-input">
                                    <span class="cstm-switch-indicator "></span>
                                    <span class="cstm-switch-description">  I agree to the Terms and Privacy. </span>
                                </label>
                            </p>

                            <button type="submit" class="btn btn-primary btn-block btn-lg">Create Account</button>
                        </form>
                        <p class="text-right p-t-10">
                            <a href="{% url 'login' %}" class="text-underline">Already a user? Login</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url({% static 'assets/img/auth.svg' %});">

            </div>
        </div>
    </div>
</main>

<div class="modal modal-slide-left  fade" id="siteSearchModal" tabindex="-1" role="dialog" aria-labelledby="siteSearchModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body p-all-0" id="site-search">
                <button type="button" class="close light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="form-dark bg-dark text-white p-t-60 p-b-20 bg-dots" >
                    <h3 class="text-uppercase    text-center  fw-300 "> Search</h3>

                    <div class="container-fluid">
                        <div class="col-md-10 p-t-10 m-auto">
                            <input type="search" placeholder="Search Something"
                                   class=" search form-control form-control-lg">

                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="bg-dark text-muted container-fluid p-b-10 text-center text-overline">
                        results
                    </div>
                    <div class="list-group list  ">


                        <div class="list-group-item d-flex  align-items-center">
                            <div class="m-r-20">
                                <div class="avatar avatar-sm "><img class="avatar-img rounded-circle"   src="{% static 'assets/img/users/user-3.jpg' %}" alt="user-image"></div>
                            </div>
                            <div class="">
                                <div class="name">Eric Chen</div>
                                <div class="text-muted">Developer</div>
                            </div>


                        </div>
                        <div class="list-group-item d-flex  align-items-center">
                            <div class="m-r-20">
                                <div class="avatar avatar-sm "><img class="avatar-img rounded-circle"
                                                                    src="{% static 'assets/img/users/user-4.jpg' %}" alt="user-image"></div>
                            </div>
                            <div class="">
                                <div class="name">Sean Valdez</div>
                                <div class="text-muted">Marketing</div>
                            </div>


                        </div>
                        <div class="list-group-item d-flex  align-items-center">
                            <div class="m-r-20">
                                <div class="avatar avatar-sm "><img class="avatar-img rounded-circle"
                                                                    src="{% static 'assets/img/users/user-8.jpg' %}" alt="user-image"></div>
                            </div>
                            <div class="">
                                <div class="name">Marie Arnold</div>
                                <div class="text-muted">Developer</div>
                            </div>


                        </div>
                        <div class="list-group-item d-flex  align-items-center">
                            <div class="m-r-20">
                                <div class="avatar avatar-sm ">
                                    <div class="avatar-title bg-dark rounded"><i class="mdi mdi-24px mdi-file-pdf"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="name">SRS Document</div>
                                <div class="text-muted">25.5 Mb</div>
                            </div>


                        </div>
                        <div class="list-group-item d-flex  align-items-center">
                            <div class="m-r-20">
                                <div class="avatar avatar-sm ">
                                    <div class="avatar-title bg-dark rounded"><i
                                                class="mdi mdi-24px mdi-file-document-box"></i></div>
                                </div>
                            </div>
                            <div class="">
                                <div class="name">Design Guide.pdf</div>
                                <div class="text-muted">9 Mb</div>
                            </div>


                        </div>
                        <div class="list-group-item d-flex  align-items-center">
                            <div class="m-r-20">
                                <div class="avatar avatar-sm ">
                                    <div class="avatar avatar-sm  ">
                                        <div class="avatar-title bg-primary rounded"><i
                                                    class="mdi mdi-24px mdi-code-braces"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="name">response.json</div>
                                <div class="text-muted">15 Kb</div>
                            </div>


                        </div>
                        <div class="list-group-item d-flex  align-items-center">
                            <div class="m-r-20">
                                <div class="avatar avatar-sm ">
                                    <div class="avatar avatar-sm ">
                                        <div class="avatar-title bg-info rounded"><i
                                                    class="mdi mdi-24px mdi-file-excel"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="name">June Accounts.xls</div>
                                <div class="text-muted">6 Mb</div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src='{% static "assets/js/bundles/9556cd6744b0b19628598270bd385082cda6a269.js" %}'></script>
<!--page specific scripts for demo-->


</body>

</html>