
{% load static %}
    <html>
        <head>
            <head>
                <meta charset="UTF-8">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>ThemseShop</title>
            
                <!--// DEPENDANCIES //-->
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
                <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
                <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
                <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
                <link rel="stylesheet" href="{% static 'assets/css/products.css' %}">
                <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
                <script src="https://kit.fontawesome.com/606510e8a3.js"></script>
            </head>
        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light my-4">
                <div class="container-fluid">
                    <a class="navbar-brand mr-md-5" href="#">
                        <img src="{% static 'assets/img/logo.png' %}" alt="">
                    </a>
                    <div class="collapse navbar-collapse mx-5" id="navbarNav">
                        <ul class="navbar-nav m-y-10 text-uppercase position-relative">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Themes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Plugins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">innocent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="user-account">Account</a>
                            </li>
                            
                            <li class="nav-item nav-last">
                                <a class="nav-link" href="#">Join Club <i class="bi bi-suit-heart mx-2 pcolor"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex nav-toggle">
                        <i class="lni lni-ambulance"></i>
                    </div>
                </div>
            </nav>
            <section class="admin-content">
                <div class=" bg-dark m-b-30 bg-stars">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 m-auto text-white p-t-40 p-b-90">
    
                                <h1>STEP 1 of 2:  User Account Details</h1>
                                <p class="opacity-75">
                                    Use this page to add your personal details.
                                </p>
    
                            </div>
                            <div class="col-md-4 m-auto text-white p-t-40 p-b-90">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
    
                <!-- Content goes here -->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!--widget card begin-->
                            <div class="m-b-30">
                                <div class="card-header">
                                    <h4 class="m-b-0">
                                        Account information Information
                                    </h4>
                                    <p class="m-b-0 text-muted">
                                        All fields marked with <span class="text-danger">*</span> are required
                                    </p>
                                </div>
                                <div class="card-body">
                                    {% if action != 'edit' %}
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <!-- full name -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">full names <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="full_name">
                                                <small class="text-muted">Your full name.</small>
                                            </div>
                                        </div>
    
                                        <!-- email -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">Email <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="email">
                                                <small class="text-muted">Your full email address.</small>
                                            </div>
                                        </div>
    
                                        <!-- phone -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">Phone number <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="phone_number">
                                                <small class="text-muted">your phone number</small>
                                            </div>
                                        </div>
                                        <!-- country -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">country <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="country">
                                                <small class="text-muted">Your country.</small>
                                            </div>
                                        </div>
                                        <!-- postcode -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">postcode <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="postcode">
                                                <small class="text-muted">Your postcode.</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-secondary" onclick="window.History()">Back</button>
                                            <button class="btn btn-success" type="submit">save and continue</button>
                                        </div>
                                    </form>
    
                                    {% else %}
    
    
                                    <form action="{% url 'products:user_account_edit' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ details.id }}">
                                        <!-- full name -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">full names <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="full_name" value="{{details.full_name}}">
                                                <small class="text-muted">Your full name.</small>
                                            </div>
                                        </div>
    
                                        <!-- email -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">Email <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="email" value="{{details.email}}">
                                                <small class="text-muted">Your full email address.</small>
                                            </div>
                                        </div>
    
                                        <!-- phone -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">Phone number <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="phone_number" value="{{details.phone_number}}">
                                                <small class="text-muted">your phone number</small>
                                            </div>
                                        </div>
                                        <!-- country -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">country <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="country" value="{{details.country}}">
                                                <small class="text-muted">Your country.</small>
                                            </div>
                                        </div>
                                        <!-- postcode -->
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="brand">postcode <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required name="postcode" value="{{details.postcode}}">
                                                <small class="text-muted">Your postcode.</small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-secondary" onclick="window.History()">Back</button>
                                            <button class="btn btn-success" type="submit">Update</button>
                                        </div>
                                    </form>
    
                                    {% endif %}
    
                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </div>
                </div>
    
            </section>

        </body>
    </html>